---
import { type CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<section class="group">
  <h2 class="mb-3 text-2xl">
    <a
      class="border-b border-dashed border-b-transparent duration-200 group-hover:border-dashed group-hover:border-b-white"
      href={`/blog/${post.slug}`}>{post.data.title}</a
    >
  </h2>
  <time
    class="mb-3 block text-gray-400"
    datetime={post.data.publishDate.toISOString()}
  >
    {
      Intl.DateTimeFormat(undefined, {
        year: "numeric",
        month: "short",
        day: "2-digit",
      }).format(post.data.publishDate)
    }
  </time>
  <p class="mb-3 text-lg text-gray-200">{post.data.summary}</p>
  <ul class="flex list-none gap-5 text-lg">
    {
      [...new Set(post.data.tags)].map((tag) => (
        <li>
          <a
            class="relative border-b border-dashed border-b-transparent pl-3 duration-200 before:absolute before:left-0 before:text-lavender before:content-['#'] group-hover:border-dashed group-hover:border-b-white"
            href={`/blog/tags/${tag}`}
          >
            {tag}
          </a>
        </li>
      ))
    }
  </ul>
</section>
